/docker-compose-example/server-files
/docker-compose-example/server-data
__pycache__/
*.pyc
/docker-compose-example/fex-cache
/docker-compose-example/mesa-cache
/docker-compose-example/update-control
/docker-compose-example/core.env
core.env
*.env
!*.env.example
*.core
*.core.gz
/diagnostics/
/runtime-test/
